.fixed-column {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: none; /* Allow scrolling */
  }

  #scrollable-content {
    height: 100vh; /* Set a fixed height for the column */
    overflow-y: auto; /* Allow vertical scrolling */
  }
  #scrollable-content::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar width */
  }
  .green-box{
    background-color: rgb(22, 209, 22);
    height: 60px;
    margin: 0px;
    color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
  }
